/* change la couleur de la barre menu*/
.menu-bar {
    -fx-background-color: derive(#e10577,20%);
   
}

/* change la couleur du conteneur de texte de la barre menu*/
.menu-bar > .container > .menu-button {
    -fx-background-color: rgb(235, 147, 215);
}
/* change la couleur du texte de la barre menu */
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: white;
}