/* change la couleur de la barre menu*/
.menu-bar {
    -fx-background-color: grey
   
}

/* change la couleur du conteneur de texte de la barre menu*/
.menu-bar > .container > .menu-button {
    -fx-background-color:rgb(69, 61, 64);
}
/* change la couleur du texte de la barre menu */
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: white;
}

.anchor {
    -fx-background-image:url('leaf.jpg');
    -fx-border-color: yellow;
}

.anchor1 {
    -fx-background-color:#9FC131FF;
}

.anchor2 {
    -fx-background-color:rgb(245, 149, 183);
}

.table-view .column-header-background .filler {
    -fx-background-color:  rgb(255, 155, 210); 
}